    
<div id="foot">
    <% if (user) { %>
        <% if (user.admin === false && user.adminAttempts !== 5) { %>
            <a href="/admins/<%= user._id %>/login" id="admin_login">ADMIN LOGIN</a>
        <% } %>
    <% } %>
</div>
</body>
</html>