<%- include('../partials/header') %>

<main id="full_page_form">
<form action="/reviews/<%= review._id %>/admins?_method=PUT" method="POST">
    <select name="visible">
        <div>
            <label>Visibility</label>
            <% if (review.visible) { %>
                <option value="true" selected>true</option>
                <option value="false">false</option>
            <% } else { %>
                <option value="true">true</option>
                <option value="false" selected>false</option>
            <% } %>
        </div>
    </select>
    <div>
        <input type="submit" value="Change Visibility">
    </div>
</form>
</main>

<%- include('../partials/footer') %>