<%- include('../partials/header') %>

<% if (user.adminAttempts < 5) { %>  
<p>Login Page</p>

<form action="/admins/<%= user._id %>?_method=PUT" method="POST">
    <div>
        <label>Password:</label>
        <input type="password" name="password">
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
</form>

<% } else { %>

<p>Hackers, No Hacking!</p>

<% } %>

<%- include('../partials/footer') %>